
title {
color: red;
}

div {
font-family: Georgia, 'Times New Roman', Times, serif;
 
}

* {
    text-align: center;
}


p {
    font-size: 20px;
    color: red;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    
}
    a {
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: red;

}


    h2, h3 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;

}

    
}

    


    li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;

    }

li:hover {
    color:green;
}


.center {
    text-align: center;
}

ul {
    list-style:inside;
}

img {
    height: 300px;
    width: 300px;
    
}

body {
    background-color:wheat;
    border-style: solid;
    padding:5%;
    margin-trim:inherit;
    background-position: 100px;
  

}

